<div class="well">
  <div class="row">
    <div class="col-md-6">
      <h3>
        Certifit Auto Body Parts
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          Programmer
        </li>
        <li class="list-group-item">
          Maintained product catalog of 30,000 items
        </li>
        <li class="list-group-item">
          Developed tax permit verification software
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
    </div>
  </div>
</div>
